/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/redis-data/appendonlydir/appendonly.aof.1.base.rdb
/redis-data/appendonlydir/appendonly.aof.1.incr.aof
/redis-data/appendonlydir/appendonly.aof.manifest
/composer.phar
/redis-data/dump.rdb
